// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.css.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }

body.active_admin{
  //background-image: url("bkg_gray.png");
  background-color: #f5ecce;
}

#header{
  background: #FAAC58;
  border: none;
  text-shadow: none;
  height: 40px;
  padding: 0;
}
#header a, #header a:link {
    color: #323537;
}
#title_bar{
  background-image: url("bkg_gray_admin.png");
  text-shadow: none;
  border: none;
  padding: 15px 30px;
  border-bottom: 4px solid #FAAC58;
  margin: 0;
}
h2{
    color: #D26D00;
}